<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../tools/jquery.min.js"></script>
    <script type="text/javascript" src="../tools/angular.min.js"></script>
    <script type="text/javascript" src="../tools/turn.js"></script>
    <script type="text/javascript" src="../../dist/angular-turn.debug.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles/style.css">
</head>

<body>
<div ng-app="appMain"  ng-controller="ctrlMain">

    <book ngb-width="1000" ngb-height="680" ngb-autocenter="false" ngb-template="myTemplate.html">
        <cover>

            <h1>Example Turn Book<br><br> -Dynamic content-</h1>
        </cover>
        <cover></cover>
        
        <page> page 3  </page>
        <page> page4   </page>
      <!--  <page> {{pageThreeContent}} </page>
        <page> {{pageFourContent}}  </page>-->
<!--
        <cover></cover>
        <cover></cover>-->
    </book>

    <p>page 1 content: <input type="text" ng-model="pageOneContent"></p>
    <p>page 2 content: <input type="text" ng-model="pageTwoContent"></p>
    <p>page 3 content: <input type="text" ng-model="pageThreeContent"></p>
    <p>page 4 content: <input type="text" ng-model="pageFourContent"></p>


</div>
</body>
</html>

